@charset "utf-8";
/* CSS Document */
  *{
	  margin:0;padding:0 
  }
  body{
	  width:1280px;margin:0 auto
  }
  h1,h2,h3{
	  margin-bottom:0.5em
  }
  header,footer{
	  height:60px;background-color:black;color:white
  }
  footer{
	  text-align:center;line-height:60px
  }
  .head img{
	  margin-left:10px
  }
  .right ul{
	  list-style-type:none
  }
  .right ul li{
	  display:inline-block
  }
  .right a{
	  text-decoration:none;display:inline-block;height:60px;line-height:60px;verticle-align:center;color:white
  }
  .right a:hover{
	  background:#9F3 
  }
  .left{
	  float:left
  }
  .right{
	  float:right
  }
  .content{
	  clear:both;background-color:#dedede;padding:20px
  }
  .author{
	  font-size:0.8em;color:#666;margin-bottom:0.5em;display:inline-block
  }
  article,aside{
	  background-color:#fff;margin-bottom:10px;border:1px solid white ;padding: 35px 20px 40px
  }
  .image-list li{
	  text-align:center;border:1px solid black;height:110px;width:100px;margin-bottom:20px;padding:10px
  }
  .image-list img{
	  width:100px;height:80px;margin-top:10px
  }
  table{
	  border-collapse:collapse;width:100%
  }
  table th,td{
	  border:1px solid black;
  }
  table th{
	  background-color:black;text-align:left;color:white
  }
  table .lastline td{
	  background-color:#dedede
  }
  #aside_1 h2{
	  border-left:3px solid #dedede;padding-left:10px
  }
  #aside_1 form{
	  margin:0 auto; width:1200px
  }
  span.title_1{
	  display:inline-block;width:580px;text-align:right;margin-right:20px;vertical-align: top
  }
  span.tip{
	  margin-left:600px
  }
  button.submit-button{
	  width:100%;height:40px;background-color:#3355d0;color:#fff;border-radius:10px
  }

